// gallery.scss

#gallery .thumbnail {
  padding: 0;
  margin: 0;
  border: none;
}
#gallery .thumb {
  padding: 0;
  margin: 0;
}
#contact {
  background: #252525;
  padding: 3em 0;
  color: #ffffff;
}
#contact a {
  color: #ffffff;
}