// header.scss
@import 'variables';

header {
    font-family: $font-rale;
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: $white;
    background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url('../img/bmw.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
        -moz-background-size: cover;
            -o-background-size: cover;
                -webkit-background-size: cover;
}
.intro-body {
    display: table-cell;
    vertical-align: middle;
    color: $white;
}
.brand-heading {
    font-size: 3.999em;
    font-style: italic;
}
.intro-text {
    font-size: 2.24em;
}
.intro-divider {
  font-weight: 700;
}
.intro-welcome {
    font-size: 1.5em;
}
.arrow {
  font-size: 4em;
  color: $white;
}
.arrow a, .arrow a:visited {
  color: $white;
}
.arrow a:hover {
  color: #1d9b6c;
}
