// logo.scss

// Logo at top of page
#logo-info {
    background-color: #ffffff;
    padding: 20px 0;
}
.top-phone, .top-email {
  text-align: right;
  color: #000000;
}
.top-email {
  margin-left: 20px;
}