// logo.scss
@import 'variables';

// Logo at top of page
#logo-info {
    background-color: #AB0303;
    padding: 5px 0;
    font-size: 0.755em;
    // background-color: #5C0404;
    // font-family: $font-sans;
    a {
        color: $white;
        // font-weight: 700;
    }
}
.top-phone, .top-email {
  text-align: right;
  color: $white;
}
// .top-email {
//   margin-left: 20px;
// }