// navbar.scss
@import 'variables';

// .navbar-brand {
//     padding: 0;
//     height: 50px;
// }

#custom-nav {
    font-family: inherit;
    text-transform: uppercase;
    color: $black;
    font-size: 0.766em;
    letter-spacing: 0.161em;
    font-weight: 700;
    background-color: $white;
    margin-bottom: 0;
    // height: 0px;
    // padding-bottom: 20px;

    a {
      color: $black;
    }
    a:hover {
      color: $red;
      background-color: transparent;
      text-decoration: underline;
    }
}

// Delete?
#custom-nav .active>a, #custom-nav .active>a:focus {
    // color: #d8537e;
}
#custom-nav .navbar-nav {
  // padding-top: 20px;
}