// navbar.scss
@import 'variables';

.navbar-brand {
    padding: 0;
    height: 50px;
}

#custom-nav {
    font-family: inherit;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 0.999em;
    letter-spacing: 0.161em;
    font-weight: 700;
    // margin-bottom: 0;
    // padding-bottom: 20px;
}
#custom-nav .navbar-nav {
  padding-top: 20px;
}
#custom-nav a {
  color: #ffffff;
}
#custom-nav a:hover {
  color: #1d9b6c;
}
#custom-nav .active>a, #custom-nav .active>a:focus {
    color: #d8537e;
}