// services.scss
@import 'variables';

#services {
  font-family: $font-sans;
  background-color: $white;
  padding-top: 20px;

  h1 {
    // padding-bottom: 30px;
    color: $h-color;
  }

  h1:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 50px;
    height: 1px;
    margin-left: -25px;
    background-color: $red;
  }

  h2 {
    padding: 0;
    color: $h-color;

    h2:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 50px;
    height: 1px;
    margin-left: -25px;
    background-color: $black;
    }
  }


}
.holder {
  font-size: 14px;
  height: 450px;
  padding-left: 0;
  padding-right: 0;
  // border-radius: 0 0 50px 50px;
  box-shadow: inset -20px 0 15px -15px rgba(0,0,0,.5);
  // border-left: 1px solid rgba(0,0,0,.45);
  // border-bottom: 1px solid rgba(0,0,0,.45);
  // margin-bottom: 25px;
  padding-top: 50px;
  margin-top: 50px;

}

.car {
  width: 15%
}
.seat {
  width: 12%
}
.spray {
  width: 10%
}

.platinum {

  p {
    padding-right: 40px;
  }
}

.gold {

  p {
    padding-right: 40px;
    padding-left: 40px;
  }

}
.silver {
  box-shadow: none;

  p {
    padding-left: 40px;
  }
}


