// variables.scss

// colors
$black: #000000;
$red: #d65050;
$white: #ffffff;
$platinum: #e5e4e2;
$gold: #ccac00;
$silver: #c0c0c0;

$body-color: #767676;
$h-color: #443f3f;

// font-family: 'Source Sans Pro', sans-serif;
$font-sans: 'Source Sans Pro', sans-serif;
$font-rale: "Raleway", sans-serif;